# --- Системное и IDE ---
.git/
.gitignore
.vscode/
.trash/
.obsidian/
*.log

# --- Python ---
__pycache__/
*.pyc
.venv/
venv/
env/
.env
example.env

# --- Лишние папки ---
docs/
additional/
notes/
backups/
logs/