/wiki
/logs
/backups

/__pycache__
/app/__pycache__
/alembic/__pycache__
/alembic/versions/__pycache__

/.vscode
/.venv
/.trash
/.obsidian

.env
my_settlement.code-workspace
docker-compose.override.yml