# -- BOT --
BOT_TOKEN="1234567890:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
BOT_USERNAME=mysettlementbot

# -- DATABASE --
DB_HOST=localhost
DB_PORT=1984
DB_USER=postgres
DB_PASS=change_me
DB_NAME=my_settlement

# -- CONFIG --
LOGS_PATH="logs/"
ENABLE_COLORS=True

# -- DEVELOPER --
DEVELOPER_IDS=[1234567890, 0987654321]
ENABLE_DEVELOPERS_NOTIFY=True
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="very_secure_password"

# -- GAME --
TYPOS_PERCENT=80
WORK_COOLDOWN_HOURS=4
WORK_TIMEOUT_SECONDS=180
CRAFT_COOLDOWN_HOURS=168
SETTLEMENT_NAME_CHANGE_COOLDOWN_HOURS=168