aiogram>=3.25.0
APScheduler
asyncpg
langdetect
pydantic-settings
SQLAlchemy
wordfreq
pytz
tzdata
rapidfuzz
arrow
timezonefinder
watchfiles
pymorphy3
requests
fluentogram
fluentogram[cli]
fastapi
sqladmin
itsdangerous
uvicorn